body {
  font-family: Helvetica;
  background-color: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
}

.verticalLine {
    border-left: thick solid #000;
    position: fixed;
    height: 110%;
    top: -1%;
    right: 31%;
    opacity: 0.25;
}

.verticalLine2 {
    border-left: thick solid #000;
    position: fixed;
    height: 110%;
    top: -1%;
    left: 32%;
    opacity: 0.25;
}

.choices {
  position: absolute;
  top: -15%;
}

.choices img {
  max-width: 6.25%;
  opacity: 0.04;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}

.choices img:hover {
  cursor: pointer;
  opacity: 1;
  transition: 2s opacity;
}

h1 {
  color: #000;
  opacity: 0.35;
}

.results {
  list-style: none;
  position: relative;
  top: 100px;
  right: 1%;
  width: 33%;
}

.results li {
  opacity: 0.55;
  background: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  display: none;
  margin-bottom: 10px;
}

.p1victories {

}

.p2victories {
  
}

#input_name {
  position: absolute;
  bottom: 5%;
  left: 33.5%;
  text-align: center;
  width: 33%;
  font-size: 25px;
  border: none;
  border-bottom: dashed 1px #000;
  outline: none;
  opacity: .5;
 }