body {
  font-family: Helvetica;
  background-color: #fff;
}

.choices img {
  max-width: 6.25%;
  opacity: 0.04;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  margin-top: -8%;
}

.choices img:hover {
  cursor: pointer;
  opacity: 1;
  transition: 2s opacity;
}

h1 {
  text-transform: capitalize;
  color: #000;
}

#results {
  list-style: none;
}

#results li {
  background: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  width: 33%;
  display: none;
  margin-bottom: 10px;
  padding: 0px;
}

footer {
  padding-top: 42.5%;
}

input {
  text-align: center;
  width: 33%;
  font-size: 18px;
  border: none;
  border-bottom: dashed 1px #000;
  outline: none;
  color: #000;
  opacity: .5;
 }